.searchContainer{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


.search{
    border: none;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    font-size: 18px;
   
}

.search:focus{
   outline: none;

}

@media (max-width:768px){
.search{

    width: 60%;
    padding: 10px;
}
}