body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 248, 237);
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  overflow: auto;
}







